body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;

}

#logo {
    background-color: red;
    width: 2.5em;
    height: 2em;
    color: white;
    text-align: center;
    font-size:3em;
    padding-top: 0.6em;
    margin-left: 0.5em;
    box-shadow: 1px 4px 1px brown;
    border-radius: 0.1em;
}

.text {
    margin-left: 2em;
    font-size: 22px;
    font-weight: 700;
    color: red;
    padding-top: 3.5em;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
  
}

.cases {
    width: 14em;
    box-shadow: 1px 2px #f19090;
    border: 0.1px solid red;
    padding-bottom: 2em;
    padding-left: 0.5em;

}

.cases span {
    font-weight: 700;
}

.cases .fa-caret-up {
    color: red;
}

.cases .fa-caret-down {
    color: green;
}

.data {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.data table {
    width: 54em;
    margin-left: 4em;
    border: 0.1px solid red;
   
}


.tips {
    width: 14.8em;
    border: 1px solid #e2e2e2;
    margin-right: 3.8em;
    margin-bottom: 2em;
    height: 11em;
}

.tips p {
    text-align: center;
    color: white;
    border: .1px solid #302d2d;
    background-color:red;
    font-weight: 800;
    width: 12em;
    margin-left: 1em;
    border-radius: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    margin-left: 1em;
}


.load {
    border: 5px solid #eee;
    width: 50px;
    height: 50px;
    border-top-color:red;
    animation: spin .75s linear infinite;
    border-radius: 100%;
    position: absolute;
    left: 30em;
    top: 15em;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}